/* Farben & Variablen */
@primary__color: #990052;

/* Grundelemente */
body {
    overflow-x: hidden;
    font-size: 1.7rem;
}

.d-none {
    display: none !important;
}

/* Links */
.page-main a,
.page-main .alink,
.page-main a:visited {
    color: #990052 !important;
    text-decoration: none;
}

/* Input-Felder */
input:focus,
textarea:focus {
    box-shadow: 0 2px 0 0 #990052, 0 3px 12px -6px #99005280 !important;
    border-bottom: 2px solid #990052 !important;
    outline: none;
    transition: border-bottom 0.2s, box-shadow 0.2s;
}

input#minisearch-input-top-search {
    height: 4rem !important;
    border-bottom: 0.2rem solid #990052;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 8px 12px;
    font-size: 1.3rem;
    border-radius: 0px;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Buttons */
.action.primary,
.action-primary {
    background-image: none;
    background: #990052 !important;
    border: 1px solid #990052 !important;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
}

.page-main .primary a {
    background-color: #990052 !important;
    color: #ffffff !important;
    text-decoration: none;
}

/* Navigation & Header */
.nav-sections,
.navigation {
    background: #fff !important;
}

@media (min-width: 768px),
print {

    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper>.widget,
    .page-wrapper>.page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1920px !important;
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }


    /* general page container */
    [data-content-type='row'][data-appearance='contained'] {
        max-width: 1920px !important;
    }

    /* full width banner*/
    [data-content-type='row'][data-appearance='full-width']>.row-full-width-inner {
        max-width: 1920px !important;
    }



    .navigation .level0.active>.level-top,
    .navigation .level0.has-active>.level-top {
        border-color: #990052 !important;
        border-style: solid;
        border-width: 0 0 3px;
        color: #333;
        text-decoration: none;
        display: inline-block;
    }

    .block-search {
        float: right;
        padding-left: 15px;
        position: relative;
        width: 400px !important;
        z-index: 4;
    }



    .header.panel>.header.links>li {
        display: inline-block;
        vertical-align: middle !important;
    }

    .page-header .panel.wrapper {
        border-bottom: 1px solid #e8e8e8;
        background-color: #990052 !important;
    }
}

/* Header Links */
.header.panel>.header.links>li>a {
    font-size: 1.5rem !important;
}

.header.panel>.header.links>li>a i {
    font-size: 2rem !important;
}

/* Suche */
@media (min-width: 768px),
print {
    .block-search .action.search:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: none !important;
        font-size: 1.9rem !important;
        line-height: 4rem !important;
        color: #990052 !important;
        content: '\f0d1' !important;
        font-family: 'remixicon' !important;
        opacity: 1 !important;
        margin: 0;
        vertical-align: middle !important;
        display: inline-block;
        font-weight: lighter !important;
        overflow: hidden;
        speak: none;
        text-align: center;
    }

    .block-search .action.search.disabled,
    .block-search .action.search[disabled],
    fieldset[disabled] .block-search .action.search {
        pointer-events: auto;
        opacity: 1 !important;
    }

    .minicart-wrapper .action.showcart:before {
        font-size: 3.5rem !important;
        line-height: 4rem !important;
    }
}

/* Minicart Icon */
.minicart-wrapper .action.showcart:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3rem !important;
    line-height: 3rem !important;
    color: #990052 !important;
    content: '\f11e' !important;
    font-family: 'remixicon' !important;
    margin: 0;
    vertical-align: middle !important;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.block-search .label:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3rem !important;
    line-height: 3rem !important;
    color: #990052 !important;
    content: '\e615';
    font-family: 'icons-blank-theme';
    margin: 0 10px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

/* Slider */
.slick-prev, .slick-next {

}

.slick-dots li button{
    background: #fff;
    border: 0px solid #ccc !important;
    border-radius: 0px!important;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 10px!important;
    padding: 0;
    text-indent: -99999px;
    transition: 0.3s;
    width: 40px!important;
}

.slick-dots li {
    width: 40px!important;
}


.slick-dots li.slick-active button{
    background: #990052;
}


.slider-text,
.slide-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    top: auto;
    transform: none !important;
    text-align: left;
}

.test-class .pagebuilder-slide-wrapper {
    position: relative;
}

.test-class .pagebuilder-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}

.pagebuilder-overlay h1 {
    margin-bottom: 0;
}

.slick-dots {
    margin-top: -50px;
}


/* homepage */

/* top-banner , banner-list */
.homepage-hero .pagebuilder-slider {
    min-height: 600px;
}

.homepage-hero .banner-list .pagebuilder-banner-wrapper {
    height: 197px;
}

.homepage-hero .banner-list div[data-content-type="banner"] {
    padding-bottom: 5px;
}

.homepage-hero .pagebuilder-slider {
    padding-right: 5px;
    padding-bottom: 5px;
}

@media (max-width: 767px) {
    .banner-list {
        display: flex !important;
        flex-direction: row !important;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 5px;
        /* Abstand zwischen den Bannern, optional */
    }

    .banner-list>[data-content-type="banner"] {
        min-width: 80vw;
        /* Passe die Breite nach Bedarf an */
        flex: 0 0 auto;
        scroll-snap-align: start;
    }
}


/* Smartphones (Hochformat, bis 480px) */
@media (max-width: 480px) {
    .homepage-hero .pagebuilder-slider {
        padding-right: 0px;
    }

    .homepage-hero .pagebuilder-slider {
        min-height: 250px!important;
    }

    .homepage-hero .banner-list .pagebuilder-banner-wrapper {
        height: 110px;
    }
}

/* Smartphones (bis 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    .homepage-hero .pagebuilder-slider {
        padding-right: 0px;
    }

    .homepage-hero .pagebuilder-slider {
        min-height: 250px!important;
    }

    .homepage-hero .banner-list .pagebuilder-banner-wrapper {
        height: 110px;
    }

}

/* Tablets (Hochformat, 768px bis 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    
    .homepage-hero .pagebuilder-slider {
        min-height: 340px!important;
    }

    .homepage-hero .banner-list .pagebuilder-banner-wrapper {
        height: 110px;
    }
}

/* Tablets (Querformat, 992px bis 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .homepage-hero .pagebuilder-slider {
        min-height: 430px!important;
    }

    .homepage-hero .banner-list .pagebuilder-banner-wrapper {
        height: 130px;
    }
}

/* Kleine Desktops (1200px bis 1439px) */
@media (min-width: 1200px) and (max-width: 1439px)  {
    .homepage-hero .pagebuilder-slider {
        min-height: 430px!important;
    }

    .homepage-hero .banner-list .pagebuilder-banner-wrapper {
        height: 130px;
    }
}

/* Große Desktops (ab 1440px) */
@media (min-width: 1440px) {
    /* ...deine Styles... */
}



/* Banner */
.full-width-banner {
    padding: 2rem 0;
    box-sizing: border-box;
    background: #990052;
    overflow-x: hidden;
}

@media (min-width: 768px),
print {
    .full-width-banner {
        position: relative;
        left: 50%;
        right: 50%;
        width: 100vw;
        max-width: 100vw;
        transform: translateX(-50%);
        padding: 2rem 0;
        box-sizing: border-box;
        background: #990052;
    }
}

.full-width-banner p {
    margin-bottom: 0rem !important;
}

.inline-child .pagebuilder-column {
    flex-direction: row !important;
    justify-content: start !important;
    padding-bottom: 1rem !important;
}

@media (min-width: 768px),
print {
    .inline-child .pagebuilder-column {
        padding-bottom: 0rem !important;
        justify-content: center !important;

    }
}


/* Produktinfos & Preis */
.product-info-main .product-info-price,
.page-main-details .product-section-title {
    border-bottom: 0.2rem solid #990052 !important;
}

.fotorama__thumb-border {
    border-color: #990052 !important;
}

.price-per-unit {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #990052 !important;
}

.product-item .price-per-unit-old {
    color: #333;
}


@media (min-width: 768px),
print {
    .price-per-unit {
        font-size: 36px;
        line-height: 36px;
    }
}

.price-unit-after {
    display: flex;
    align-items: center;
}

.old-price {
    display: block;
}

.price-per-unit-hint {
    padding-left: 10px;
}

/* Sale Badge */
.sale-badge {
    display: inline-flex;
    align-items: center;
    background: #990052;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    padding: 2px 10px;
    font-size: 0.95em;
    gap: 0.4em;
    animation: badge-pulse 10s infinite;
}

@keyframes badge-pulse {

    0%,
    20%,
    100% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.12);
    }
}

/* Mengenfelder */
.field-set {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.field-set div {
    margin-right: 10px;
}

.field-set label {
    font-weight: bold;
}

.qty-unit-text {
    margin-right: 10px;
}

.product-add-form {
    padding-top: 0 !important;
}

/* Kategorie & Produktliste */
.product-item-info {
    width: 100% !important;
    height: 100%;
}

.product-image-container {
    width: 100% !important;
}

.product-image-photo {
    width: 100% !important;
    max-height: 300px;
}

.products-grid .product-item-info:hover {
    transform: none !important;
}

.products-grid .product-item-info:hover,
.products-grid .product-item-info.active {
    background: #fff;
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0;
    position: relative;
    z-index: 9;
}

.products-grid .product-item-inner {
    background: #fff;
    box-shadow: none !important;
    border: none !important;
    border-top: none;
    left: 0;
    margin: 0 !important;
    padding: 0 9px 9px;
    position: absolute;
    right: 0;
    z-index: 2;
}



@media (min-width: 768px) {
    .page-products .products-grid .product-item {
        display: inline-block;
        margin-left: 2%;
        width: 98%;
    }
}

.page-products .products-grid .product-item {
    margin-left: 2% !important;
    width: 96% !important;
}


@media (min-width: 640px),
print {
    .page-products .products-grid .product-item {
        margin-left: 2% !important;
        width: calc((100% - 5%) / 2) !important;
    }
}

@media (min-width: 998px),
print {
    .page-products .products-grid .product-item {
        margin-left: 2% !important;
        width: calc((100% - 6%) / 3) !important;
    }
}






/* Produktbox & Details */
.product-item-name,
.product.name a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.product-item-inner {
    clip: auto !important;
}

.product-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Hover Image */
.bv24-hover-image {
    position: relative;
    display: block;
    overflow: hidden;
}

.bv24-hover-image .bv24-main-image,
.bv24-hover-image .bv24-hover-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.bv24-hover-image .bv24-hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.55, 0.05, 0.45, 0.95);
}

.bv24-hover-image:hover .bv24-hover-img {
    opacity: 1;
}

/* Add to Links */
.bv24-addtolinks {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    display: flex;
    gap: 6px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    padding: 2px 2px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0.55, 0.05, 0.45, 0.95);
}

.bv24-hover-image:hover .bv24-addtolinks {
    opacity: 1;
    pointer-events: auto;
}

/* Wishlist & Compare Icons */
.product-item .action.towishlist:before {
    content: '\f4e6';
    font-family: 'remixicon' !important;
    font-size: 3rem !important;
    width: 5rem !important;
    line-height: 4rem !important;
}

.product-item .action.towishlist span {
    display: none;
}

.product-item .action.tocompare:before {
    content: '\ea95';
    font-family: 'remixicon' !important;
    font-size: 3rem !important;
    width: 5rem !important;
    line-height: 4rem !important;
}

.product-item .action.tocompare span {
    display: none;
}

.product-item-actions .actions-secondary>.action:before {
    font-size: 3rem !important;
    width: 5rem !important;
    line-height: 4rem !important;
}

/* Preis pro Einheit */
.product-item-info .price-per-unit {
    font-size: 2rem !important;
}

.product-item .price-per-sale-unit {
    display: none;
}

/* Filter */
.filter .block-compare .action.primary:not(:focus) {
    box-shadow: none !important;
}

.filter .smile-es-range-slider .ui-slider-handle {
    background: #990052;
}

.filter-options-title:after {
    top: 0px !important;
    font-size: 30px !important;

}


/* Sonstiges */
.product-item-info {
    height: 100%;
}



/* Smartphones (Hochformat, bis 480px) */
@media (max-width: 480px) {
  /* ...deine Styles... */
}

/* Smartphones (bis 767px) */
@media (max-width: 767px) {
  /* ...deine Styles... */
}

/* Tablets (Hochformat, 768px bis 991px) */
@media (max-width: 992px) {
  /* ...deine Styles... */
}

/* Tablets (Querformat, 992px bis 1199px) */
@media (max-width: 1200px) {
  /* ...deine Styles... */
}

/* Kleine Desktops (1200px bis 1439px) */
@media (max-width: 1440px) {
  /* ...deine Styles... */
}

/* Große Desktops (ab 1440px) */
@media (min-width: 1440px) {
  /* ...deine Styles... */
}